*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  max-width: 1140px;
  gap: 30px;
  padding-block: 133px;

}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;

}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  gap: 30px;
  max-width: 399px;
}

.title {

}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  block-size: 298px;
  overflow: auto;
}

.content__list-item {
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 6px;
  width: 200px;
}


.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}